---
#layout: default.hbs #by default it is default.hbs, but you can specify another one
title: News Carousel #title in menu
position: 3 #position in menu
hideInMenu: false #if true, will be hidden in menu
hideInBreadcrumbs: false #if true, will be hidden in breadcrumbs
externalLink: false #just add link (http://link.com) instead of "false" to use this page like a link to external page.
---
{{> breadcrumbs}}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="news">
               <div class="news-list-view carousel-swipe">
                  <div class="swiper-container __carousel">
                     <!-- Additional required wrapper -->
                     <div class="swiper-wrapper">
                        <!--
                           =====================
                            Partials/List/Item.html
                           -->
                        <div class="swiper-slide __carousel">
                           <div class="article articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
                              <div class="news-img-wrap __carousel">
                                 <a title="Lorem ipsum" href="/article/Lorem/">
                                    <div class="no-media-element">
                                       <div class="news-list-view __carousel" style="background-image:url('/Images/foto1.jpg');"></div>
                                    </div>
                                 </a>
                              </div>
                              <div class="news-item-info __carousel">
                                 <!-- date -->
                                 <span class="news-list-date">
                                    <time datetime="2016-05-26">
                                       05/26/2016
                                       <meta itemprop="datePublished" content="2016-05-26">
                                    </time>
                                 </span>
                              </div>
                              <!-- header -->
                              <div class="news-article-header">
                                 <h3>
                                    <a title="Lorem ipsum" href="/article/t3kit-news-carousel-copy-2/">
                                    <span itemprop="headline">Lorem ispum</span>
                                    </a>
                                 </h3>
                              </div>
                              <!-- teaser -->
                              <div class="teaser-text">
                                 <span itemprop="description">
                                    <p>Lorem ipsum </p>
                                 </span>
                              </div>
                           </div>
                        </div>
                        <!--
                           =====================
                            Partials/List/Item.html
                           -->
                        <div class="swiper-slide __carousel">
                           <div class="article articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
                              <div class="news-img-wrap __carousel">
                                 <a title="Lorem ipsum" href="/article/">
                                       <div class="news-list-view __carousel" style="background-image:url('/Images/foto1.jpg');"></div>
                                 </a>
                              </div>
                              <div class="news-item-info __carousel">
                                 <!-- date -->
                                 <span class="news-list-date">
                                    <time datetime="2016-05-24">
                                       05/24/2016
                                       <meta itemprop="datePublished" content="2016-05-24">
                                    </time>
                                 </span>
                              </div>
                              <!-- header -->
                              <div class="news-article-header">
                                 <h3>
                                    <a title="Lorem ipsum">
                                    <span itemprop="headline">Lorem ipsum</span>
                                    </a>
                                 </h3>
                              </div>
                              <!-- teaser -->
                              <div class="teaser-text">
                                 <span itemprop="description">
                                    <p>Lorem ispum...</p>
                                 </span>
                              </div>
                           </div>
                        </div>
                        <!--
                           =====================
                            Partials/List/Item.html
                           -->
                        <div class="swiper-slide __carousel">
                           <div class="article articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
                              <div class="news-img-wrap __carousel">
                                 <a title="Test 1" href="/article/test-1/">
                                    <div class="no-media-element">
                                       <div class="news-list-view __carousel" style="background-image:url('/Images/foto1.jpg');"></div>
                                    </div>
                                 </a>
                              </div>
                              <div class="news-item-info __carousel">
                                 <!-- date -->
                                 <span class="news-list-date">
                                    <time datetime="2016-05-24">
                                       05/24/2016
                                       <meta itemprop="datePublished" content="2016-05-24">
                                    </time>
                                 </span>
                              </div>
                              <!-- header -->
                              <div class="news-article-header">
                                 <h3>
                                    <a title="Test 1" href="/article/test-1/">
                                    <span itemprop="headline">Test 1</span>
                                    </a>
                                 </h3>
                              </div>
                              <!-- teaser -->
                              <div class="teaser-text">
                                 <span itemprop="description">
                                    <p>Teaser 1</p>
                                 </span>
                              </div>
                           </div>
                        </div>
                        <!--
                           =====================
                            Partials/List/Item.html
                           -->
                        <div class="swiper-slide __carousel">
                           <div class="article articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
                              <div class="news-img-wrap __carousel">
                                 <div class="no-media-element">
                                    <a title="Lorem ipsum dolor sit amet, consectetur adipiscing elit." href="/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit/">
                                       <div class="news-list-view __carousel" style="background-image:url('/Images/foto1.jpg');"></div>
                                    </a>
                                 </div>
                              </div>
                              <div class="news-item-info __carousel">
                                 <!-- first category -->
                                 <span class="news-list-category">Technology</span>
                                 <!-- date -->
                                 <span class="news-list-date">
                                    <time datetime="2015-10-06">
                                       10/06/2015
                                       <meta itemprop="datePublished" content="2015-10-06">
                                    </time>
                                 </span>
                              </div>
                              <!-- header -->
                              <div class="news-article-header">
                                 <h3>
                                    <a title="Lorem ipsum dolor sit amet, consectetur adipiscing elit." href="/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit/">
                                    <span itemprop="headline">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                                    </a>
                                 </h3>
                              </div>
                              <!-- teaser -->
                              <div class="teaser-text">
                                 <span itemprop="description">
                                    <p>Ut ullamcorper tincidunt ligula eu mollis. Proin tristique scelerisque lobortis. Cras faucibus erat dictum metus aliquet maximus. Nullam ac nisl eu...</p>
                                 </span>
                              </div>
                           </div>
                        </div>
                        <!--
                           =====================
                            Partials/List/Item.html
                           -->
                        <div class="swiper-slide __carousel">
                           <div class="article articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
                              <div class="news-img-wrap __carousel">
                                 <a title="Nullam sagittis condimentum est quis malesuada." href="/article/nullam-sagittis-condimentum-est-quis-malesuada/">
                                    <div class="no-media-element">
                                       <div class="news-list-view __carousel" style="background-image:url('/Images/foto1.jpg');"></div>
                                    </div>
                                 </a>
                              </div>
                              <div class="news-item-info __carousel">
                                 <!-- first category -->
                                 <span class="news-list-category">Research</span>
                                 <!-- date -->
                                 <span class="news-list-date">
                                    <time datetime="2015-09-15">
                                       09/15/2015
                                       <meta itemprop="datePublished" content="2015-09-15">
                                    </time>
                                 </span>
                              </div>
                              <!-- header -->
                              <div class="news-article-header">
                                 <h3>
                                    <a title="Nullam sagittis condimentum est quis malesuada." href="/article/nullam-sagittis-condimentum-est-quis-malesuada/">
                                    <span itemprop="headline">Nullam sagittis condimentum est quis malesuada.</span>
                                    </a>
                                 </h3>
                              </div>
                              <!-- teaser -->
                              <div class="teaser-text">
                                 <span itemprop="description">
                                    <p>Ut ullamcorper tincidunt ligula eu mollis. Proin tristique scelerisque lobortis. Cras faucibus erat dictum metus aliquet maximus. Nullam ac nisl eu...</p>
                                 </span>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="news-list-footer __carousel">
                     <div class="swiper-button-prev __carousel"></div>
                     <div class="swiper-pagination __carousel"></div>
                     <div class="swiper-button-next __carousel"></div>
                  </div>
               </div>
            </div>
        </div>
    </div>
</div>
